@model IEnumerable<MVC_Practica01NETCore.Models.Persona>

@{
    ViewData["Title"] = "CRUD Personas";
}

<h1>Registros</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nuevo Registro</a>
</p>

<div class="container-fluid">

<table class="table table-striped">
    <thead>
        <tr>
            <th class="Centrar">Nombre</th>
            <th class="Centrar">Apellido</th>
            <th class="Centrar">Tipo de Documento</th>
            <th class="Centrar">N° DNI</th>
            <th class="Centrar">N° Carnet de Extranjeria</th>
            <th class="Centrar">N° Pasaporte</th>
            <th class="Centrar">Fecha de Nacimiento</th>
            <th class="Centrar">Edad</th>
            <th class="Centrar">Acciones</th>
        </tr>
    </thead>
    <tbody>

 @foreach (var persona in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => persona.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => persona.Apellido)</td>
                <td class ="Centrar">@Html.DisplayFor(modelItem => persona.TipoDocumento)</td>
                <td class="Centrar">@Html.DisplayFor(modelItem => persona.Dni)</td>
                <td class="Centrar">@Html.DisplayFor(modelItem => persona.CarnetExtranjero)</td>
                <td class="Centrar">@Html.DisplayFor(modelItem => persona.Pasaporte)</td>
                <td class="Centrar" >@Html.DisplayFor(modelItem => persona.FechaNacimiento )</td>
                <td class="Centrar" >@persona.Edad</td>
                   <td class="text-center">
                         <a asp-action="Edit" class = "btn btn-warning" asp-route-id="@persona.Id">Editar</a> 
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@persona.Id">Detalles</a> 
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@persona.Id">Eliminar</a>
                  </td>
        </tr>
}
    </tbody>
</table>
</div>